.cardBody {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  font-family: "Carme", sans-serif;
}
.card {
  background-color: rgba(175, 175, 175, 0.116);
  height: 600px;
}
.card-images {
  height: 500px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card-images::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 600px) {
  .cardBody {
    grid-template-columns: repeat(1, 1fr);
  }
}
