.contact-from {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5%;
}

.contact-from h1 {
  margin: 5px 0;
  color: white;
}
.contact-from h4 {
  color: white;
  margin: 15px 0;
}
.contact-from p {
  color: #c5c5c5;
}
.contact-from span {
  width: 20px;
  font-size: 10px;
}
.address-detail {
  display: flex;
  color: #c5c5c5;
}
.address-detail p {
  /* margin-left: 10px; */
  padding: 8px 0;
}
.icon {
  width: 25px;
}

/* from  */

.form {
  display: flex;
  flex-direction: column;
}
.form-control {
  margin: 8px 0;
  padding: 10px 5px;
  border-style: none;
  background-color: #152136;
  border: 1px solid #c5c5c5;
  color: #c5c5c5;
}

.form-control:hover {
  background-color: #152136;
  border-style: none;
  border: 1px solid #adadad;
}
::placeholder {
  color: #c5c5c5;
  opacity: 1;
}
.from-btn {
  border-style: none;
  background-color: #152136;
  border: 2px solid #0e6cca;
  padding: 5px 0;
  color: white;
  font-size: medium;
  font-weight: 700;
}
.con-header {
  text-align: center;
  margin: 15px 0;
  font-size: 50px;
  color: #0e6cca;
}
@media only screen and (max-width: 600px) {
  .contact-from {
    grid-template-columns: repeat(1, 1fr);
  }
  .add-info {
    padding: 0;
  }
  .con-header {
    text-align: center;
    margin: 15px 0;
    font-size: 35px;
    color: #0e6cca;
  }
  .form-section {
    width: 100%;
  }
}
